.Footer{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    --altoF: 2;
    overflow-x: hidden;
}
.hModuleB{
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.half{
    width: 100%;
    height: 50%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.iconsCont{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.iconsCont a{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
    color: rgb(58, 67, 97);
}
.icon{
    transition: all 0.5s ease-out;
}
.icon:hover{
    color: rgb(82, 91, 121);
}
@media screen and (max-height: 500px ){
    .header {
        --altoH: 1;
    }
}